spring:
  h2:
    console:
      path: /h2-console
      enabled: true
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:market
    username: sa
    password:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    open-in-view: false

security:
  allow-origin: http://localhost:5173
  white-list-uri: /login, /member/create, /swagger-ui/**, /v3/api-docs/**, /h2-console/**
  secret-key: abcd